body {
	width: 70%;
	margin: 0 15% 0 15%;
	background: #6a5750;
	color: #333;
	font-family: Playfair Display;
}

header {
	position: fixed;
	top: 0;
	width: 70%;
	height: 50px;
	display: table;
	margin: 0px auto;
	background: #30231d;
}

header h1 {
	display: table-cell;
	margin-top: 0;
	padding-left: 10px;
}

header a {
	color: #dc143c;
	/* color: #ffa500; */
	text-decoration: none;
}

header a:visited {
	color: #ddd;
}

nav {
	display: table-cell;
	float: center;
	padding-top: 20px;
	text-align: right;
	padding-right: 10px;
}

#social {
	display: table-cell;
	float: right;
}

#social img {
	height: 20px;
	margin: 1px;
}

a {
	color: #483D8B;
}

#posts h2 {
	margin-bottom: 5px;
}

#posts h2 a {
	text-decoration: none;
}

.post-date {
	font-size: 10pt;
}

.page-content {
	background: #f6f1ed;
	margin-top: 50px;
	padding: 20px;
}

.page-content section {
	border-bottom: 1px solid #444;
}

section h1 {
	font-size: 16pt;
}

section h2 {
	font-size: 13pt;
}

footer {
	background: #f6f1ed;
	height: 50px;
	text-align: center;
	padding-top: 10px;
}
