<section id="projects">
  <h1>Projects</h1>
  <h2>Software</h2>
  <p>
   <dl>
    <dt>AVStudy</dt> <dd>software for presentation of audio visual stimuli and data collection.</dd>
   </dl>
  </p>
  <h2>Presentations</h2>
  <p>
  Lawrence, J., &amp; da Silva, L.  (2013).
  <a href="/files/lawrence_ASA_2013_poster.pdf" title="ASA 2013 San Francisc    o poster">Technique for mapping fast speech</a>.
  166th Meeting of the Acoustical Society of America, San Francisco. <a href="http://scitation.aip.org/content/asa/journal/jasa/134/5/10.1121/1.4831580">Published abstract</a>.
  </p>
  <p>
  Lawrence, J. (2012). Condition C in Blackfoot.  Department of
  Linguistics Field Methods Poster Presentation, University of British Columbia.
 </p>
 <p>
  Camlot, J. and Lawrence, J. (2010).  A role for phonetics software in the
  analysis of literary recordings.  34th Annual Meeting of the Atlantic Provi    nces
  Linguistics Association, University of Prince Edward Island.
 </p>
 <p>
  Lawrence, J.  (2010).  Paici tone and clitics.  NAPhC6:  Sixth North Americ    an
  Phonology Conference, Concordia University.
 </p>
 <p>
  Heijl, M. and Lawrence, J. (2010).  Marshallese reduplication revisited.
  Montreal-Ottawa-Toronto Phonology Workshop, Carleton University.
 </p>

</section>
